
.ant-layout, .ant-layout-footer{
    background: #000000 !important;
}

html,body,#root{
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Header */
#logo {
    float: left;
    height: 64px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 64px;
    text-decoration: none;
    vertical-align: middle;
    border-style: none;
}

.logo-font {
    margin-top : 0.4em;
}

@media only screen and (max-width: 768px) {
    .ant-layout-header {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        float: initial;
    }
}

#header {
    position: fixed;
    z-index: 10;
    max-width: 100%;
    background: #1b1b1b;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    width:100%;
}

#header-content{
    width:1000px;
    margin:0 auto;
}


#avatar {
    float: right;
}

#avatar .name {
    margin-right: 10px;
    font-weight:bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #e8e8e8;
}

.ant-layout-header {
    background: rgb(255, 255, 255) !important;
    padding: 0 !important;
}

/* SearchBar */

/* 搜索框的背景颜色 */
.ant-select-selection {
    background-color: black;
}


.ant-layout .ant-layout-has-sider > .ant-layout-content {
    overflow-x :visible !important;
}

.ant-layout-sider-trigger{
    background: #1c1c1c !important;
}

.ant-layout-sider-trigger .anticon {
    color: #e8e8e8 !important;
}

.icon-font{
    font-size:18px
}

.foot-wrapper{
    height:20px;
}



.ant-card-meta-description {
    color: red !important;
}